[Desktop Entry]
Version=1.0
Type=Application
Name=kitty micro
GenericName=Terminal emulator micro launcher
Comment=Fast, feature-rich, GPU based terminal
TryExec=kitty
Exec=kitty micro %F
Icon=kitty
Categories=System;TerminalEmulator;
