[Desktop Entry]
Name=DOOM
Comment=Play this game on Steam
Exec=steam steam://rungameid/379720
Icon=steam_icon_379720
Terminal=false
Type=Application
Categories=Game;
