[Desktop Entry]
Type=Application
Name=Newshosting
Exec=/home/joris/.local/share/Newshosting/3.2.4/newshosting.sh %u
Icon=/home/joris/.local/share/Newshosting/3.2.4/icon.svg
StartupNotify=false
MimeType=x-scheme-handler/newshosting;application/x-nzb;x-scheme-handler/nzblnk
