[Desktop Entry]
Name=Tomb Raider: Anniversary
Comment=Play this game on Steam
Exec=steam steam://rungameid/8000
Icon=steam_icon_8000
Terminal=false
Type=Application
Categories=Game;
