[Desktop Entry]
Name=Battle for Wesnoth
Comment=Play this game on Steam
Exec=steam steam://rungameid/599390
Icon=steam_icon_599390
Terminal=false
Type=Application
Categories=Game;
