[Desktop Entry]
Name=Deus Ex: Mankind Divided™
Comment=Play this game on Steam
Exec=steam steam://rungameid/337000
Icon=steam_icon_337000
Terminal=false
Type=Application
Categories=Game;
